continut/resurse/persoane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="persoane">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="persoana" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
              <xs:element name="nume" type="xs:string"/>
              <xs:element name="prenume" type="xs:string"/>
              <xs:element name="varsta" type="xs:integer"/>
              
              <xs:element name="informatii_personale">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="adresa">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="strada" type="xs:string"/>
                          <xs:element name="numar" type="xs:string"/>
                          <xs:element name="localitate" type="xs:string"/>
                          <xs:element name="judet" type="xs:string"/>
                          <xs:element name="tara" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="email" type="xs:string"/>
                          <xs:element name="telefon" type="xs:string"/>
                          <xs:element name="profil_linkedin" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="educatie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="institutie" type="xs:string"/>
                    <xs:element name="specializare" type="xs:string"/>
                    <xs:element name="perioada" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="experienta_profesionala">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="functie" type="xs:string"/>
                    <xs:element name="angajator" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="abilitati">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="limbi_straine" type="xs:string"/>
                    <xs:element name="competente_digitale" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            
            <xs:attribute name="id" type="xs:integer" use="required"/>
            
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>